@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.15);
	overflow: hidden;
  background: #C7D6E1;
  color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
  position: absolute;
	z-index: 0;
	width: 240px;
	height: 150px;
  top: 125px;
  left: 80px;
	background: #fff;
  box-shadow: 4px 8px 12px 0px rgba(0,0,0,0.1);
	border-radius: 3px;
	overflow: hidden;
	pointer-events: none;
	opacity: 0;
	transform: scale(0.5);
	
	&.active {
		pointer-events: all;
		z-index: 1;
		animation: fadeIn .6s ease-in-out both .5s;
	}
	
	&.inactive {
		z-index: 2;
		animation: fadeOut .5s ease-in-out both;
	}
	
	.number-bg {
		position: absolute;
		width: 60px;
		height: 60px;
		top: -31px;
		right: -31px;
		background: #8391A1;
		transform: rotate(45deg);
	}
	
	.number {
		position: absolute;
		top: 6px;
		right: 8px;
		font-size: 13px;
		line-height: 13px;
		font-weight: 600;
		color: #fff;
	}
	
	.text {
		text-align: center;
		padding: 20px 10px;
		
		.headline {
			display: block;
			font-size: 14px;
			line-height: 22px;
			font-weight: 600;
			color: #616E7D;
			margin-bottom: 8px;
		}
		
		p {
			font-size: 12px;
			line-height: 17px;
			color: #8391A1;
			margin: 0;
		}
		
	}
	
	.button {
		position: absolute;
		width: 100%;
		height: 40px;
		bottom: 0;
		left: 0;
		right: 0;
		background: #3CA7FB;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		line-height: 38px;
		font-size: 13px;
		transition: all .3s ease-in-out;
		
		&:hover {
			background: #2196F3;
		}
		
	}
	
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);		
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: scale(1);	
	}
	to {
		opacity: 0;
		transform: scale(1.15);
	}
}
