.frame
	- for i in (1..4)
		div class="profile" id="profile-#{ i }"
			img src="http://100dayscss.com/codepen/13-#{i}.jpg"
			div class="overlay"
			div class="plus"
	div class="detail" id="detail-1"
		div class="close"
		img class="header" src="http://100dayscss.com/codepen/13-1-header.jpg"
		div class="image"
			img src="http://100dayscss.com/codepen/13-1.jpg"
		div class="infos"
			div class="name" Julia Toth
			div class="action"
				div class="btn"
					span class="fa fa-phone"
				div class="btn"
					span class="fa fa-comment"
				div class="btn"
					span class="fa fa-heart"